/* div{
    border: 1px solid red;} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding:0;
    /* margin: 0; */
}
body{
    margin:0;
    padding:0;
    font-size:1.2rem;
}
a:hover{
cursor:pointer
}
/* .root{
    padding:0 60px
} */
.header{
    display: flex;
    align-items: center;
}
.header .title{
    display:flex;
    width: 40%;
    justify-content:center
}
.navbar-items{
    display: flex;
    width: 60%;
    justify-content:space-evenly;
    font-weight:normal;
    font-size:1.3rem;
    list-style-type: none;
}
.navbar-items .nav-links{
    text-decoration: none;
    color: black
}
.navbar-items .nav-links:hover{
    color:red;
}
.main-view-carosoul{
    width:100%;
    height:70vh;
    background-image: url("lawer.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction:row;
    align-items:center;
}
 
.carousal-message{
    width: 40%;
    /* margin: 0 auto; */
    color: white;
    padding: 0 0 0 11%
}
.carousal-message h1{
    font-size:2.5em;
    margin:0;
    padding: 0
}
.carousal-message h3{
    margin:0;
    font-weight: 200;
}
.carousal-message button{
    color:white;
    width:150px;
    height:50px;
    background-color:red;
    border: none;
    border-radius:2%;
    font-size: 1em;
    margin-top:.2em
}
.carousal-message p {
    width:80%;
    font-size:.9em;
    font-weight:100;
    line-height: 1.3;
}

.services-section{
    display: flex;
    justify-content:center;
    margin-top: 10px;
    /* padding: 0 4.5% 0 11% */
}
.services-section .service-card{
    /* border:1px solid red; */
    width:20%;
    padding: 1% 0 1% 1%;
    box-shadow: 5px 10px 20px grey;
    margin: 4px
}
.services-section .service-card .card-service-title{
    font-size:1.3em;
    text-align:center;

}
.services-section .service-card .service-card-content{
    font-size:.8em
}
.services-section .service-card .service-card-content a{
    text-decoration:none;
    color:red
}
.download-bar{
    display:flex;
    justify-content:center;
    margin-top: 30px;
    
}
.download-bar-message{
    width:61%;
    height:120px;
}
.download-bar-message-title{
    font-size:1.5em;
}
.download-bar-button{
    width:20%;
    display:flex;
    justify-content:center;
    margin: auto 0 auto 0;
}
.download-bar-button .download-button{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size:1em;
    color: #fff;
    background-color:red;
    border:none;
}
.image-section {
    width:81%;
    margin: 0 auto
    
}

.images-container{
    display:flex;
    justify-content:space-between;
    width:100%
}
.images-container .image{
    /* width: 100px;
    height: 100px */
    /* box-shadow: 10px 10px 30px; */
}

.testimonials-news {
    margin-top: 30px;
    display: flex;
    justify-content:center
}
.news-section{
    width:41%;

}

.news-section p {
    margin:0
}
.news{
    padding:10px;
}
.testimonials{
    width:40%
}
.testimonials-message{
    padding: 20px
}
.testimonial-author{
    display: flex;
}
.testimonials-content img{
    width: 50px;
    height: 50px;
    border-radius: 4px;
}
.testimonials-content h3{
    margin:0;
    margin-left: 10px;
    padding:0
}
.testimonials-content h3 p{
    font-size: 12px;
    padding:0;
    margin:0;
    font-weight: normal;
}
.teams-section{
    display: flex;
    justify-content:center
}
.teams-section .inner-container{
    width: 81%
}
.teams-content{
    display: flex;
    justify-content: space-between;
}
.team-member{
    width: 20%;
    box-shadow: 10px 5px 30px;
}
.team-member img {
    width: 100%;
    height: 250px
}
.team-member h4{
    margin:0;
    padding:0;
    text-align: center;
}
.team-member p{
    text-align: center;
    margin:0;
    font-weight:normal;
    font-family: cursive;
}
.team-member-content .team-member-message{
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
}
.team-member-button{
    display: flex;
    justify-content: center;
    margin: 20px 0 10px 0;
}
.team-member-button button{
    width: 170px;
    height:50px;
    font-size:16px;
    background-color: red;
    color: white;
    border:none;
    border-radius: 3px;

}
.clients-section{
    display: flex;
    justify-content:center;
    margin-top: 20px;

}
.clients-section .inner-container {
    width: 81%;
}
.clients-section .inner-container .clients{
    display: flex
}
.client-image{
    width:20%;
    height: 100px;
    display: flex;
    justify-content: center
}

